<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<strong>HTML Content:</strong>

<div class="trix-content">
  <%= @message.content %>
</div>

<strong>Plain Content:</strong>
<div>
  <%= @message.plain_content %>
</div>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
